/* CSS reset */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
img {
    height: 100%;
    width: 100%;
}
table {
    border-collapse: collapse;
}
textarea {
    white-space: revert;
}
/* ######### */

/* variables */
:root {
    --main-gray-bkg: #f2f2f2;
    --main-gray-font: #4f4f4f;
    --light-gray-font: #828282;
}
/* ######### */

html,
body {
    background-color: var(--main-gray-bkg);
    color: var(--main-gray-font);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    padding: 0;
}
.person {
    grid-row-start: 1;
    grid-row-end: 3;
}
.experiences {
    grid-row-start: 5;
    grid-row-end: 7;
}
.hobbies {
    grid-row-start: 9;
    grid-row-end: 11;
}
div {
    padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue';
}
h1 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
p {
    font-size: 18px;
    color: var(--light-gray-font);
}
a {
    color: inherit;
    text-decoration: none;
}
footer {
    height: 50px;
    margin-top: 50px;
}
footer p {
    text-align: center;
}
img,
.rounded {
    border-radius: 12px;
}

.container {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 15px 20px -15px;
}

@media screen and (max-width: 767px) {
    .container {
        margin-left: 0;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
