/* CSS reset */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
img {
    height: 100%;
    width: 100%;
}
table {
    border-collapse: collapse;
}
textarea {
    white-space: revert;
}
/* ######### */

/* variables */
:root {
    --main-blue: #2f80ed;
    --light-blue: #91c7ed;
    --main-gray-bkg: #f2f2f2;
    --main-gray-font: #4f4f4f;
    --light-gray-font: #828282;
}
/* ######### */

html,
body {
    background-color: var(--main-gray-bkg);
    color: var(--main-gray-font);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 40px;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    padding: 0;
}
.person {
    grid-row-start: 1;
    grid-row-end: 3;
}
.experiences {
    grid-column-start: 1;
}
.hobbies {
    grid-column-start: 1;
}
.projects {
    grid-column-start: 2;
}
.skills {
    grid-column-start: 2;
}
div {
    padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue';
}
h1 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
p {
    font-size: 18px;
    color: var(--light-gray-font);
}
a {
    color: inherit;
    text-decoration: none;
}
footer {
    height: 50px;
    margin-top: 50px;
}
footer p {
    text-align: center;
}
img,
.rounded {
    border-radius: 12px;
}

.container {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 15px 20px -15px;
}

/* buttons */
.code,
.demo {
    width: 136px;
    height: 46px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: inherit;
}
.btn:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}
.projects button:hover {
    transform: scale(1.2);
}
.demo {
    background-color: var(--main-blue);
    color: white;
    margin-right: 10px;
}
.code {
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
}

/* Media Queries */
@media screen and (max-width: 1080px) {
    .experiences {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .hobbies {
        grid-column-start: 1;
    }
    .projects {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 7;
    }
    .skills {
        grid-column-start: 2;
    }
    .code,
    .demo {
        width: 30%;
        height: 30%;
    }
}
@media screen and (max-width: 780px) {
    .container {
        margin-left: 0;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
