:root {
    --main-gray: rgba(227, 229, 226, 255);
    --main-blue: rgba(21, 70, 105, 255);
}

html,
body {
    background-color: var(--main-gray);
    color: var(--main-blue);
    padding: 0;
    margin: 0;
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
main {
    padding: 0 5vw 0;
}
div {
    padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue';
}
h1 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img,
.rounded {
    border-radius: 25px;
}
.container {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}
